@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: #FFFFFF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;

}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/*          HEADER        */
a {
  text-decoration: none;
  color: black;
  display: block;
}


.navigation {
  display: flex;
  margin: 0 auto;
}

.nav-logo {
  margin-left: 70px;
  display: block;
  max-width: 140px;
}


.logo {
  display: block;
}


/*         MAIN NAV      */
.main-navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: black;
  display: block;
}

.main-navigation-list {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-navigation-item {
  padding: 20px 16px;
}

/*         USER NAV       */
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  min-width: 268px;
}

.user-navigation-item {
  list-style: none;
  width: 44px;
  height: 64px;
}

.want-here-button {
  list-style: none;
}

.user-navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: black;
  display: block;
  /*padding: 22px 12px;*/

}

.button-search {
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  width: 100%;
  height: 100%;

}

.favourites-list {
  background-image: url("../images/icon/like.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  width: 100%;
  height: 100%;
}

.favourites-counter {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
  position: relative;
  padding: 4px;
  width: 20px;
  height: 20px;
  left: 22px;
  top: 4px;
}



.want-here {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  margin: 14px 0;
  margin-left: 20px;
  padding: 8px 34px;
}

/*         HERO          */

.hero {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  /*background-size: 100% auto, cover;*/
  background-size: 1200px 57px, 1200px 485px;
  background-position: left bottom, left top;
  height: 485px;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
  padding: 50px 371px 0;
  margin-bottom: 82px;
}

/*        ADVANTAGES      */
.advantages {
  margin: 0;
  margin-bottom: 64px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  height: 72px;
  margin: 69px auto 25px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 69px;
  text-align: center;
}

.advantages-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-cards-item {
  list-style: none;
}

.wide-card {
  display: flex;
  color: #ffffff;
  background-color: rgba(131, 179, 211);
}

.wide-card-text {
  margin: 102px 85px;
}

.advantage-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
}

.advantage-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  width: 230px;
}

.narrow-card {
  /*margin: 112px auto;*/
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.narrow-card:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.narrow-card .advantage-card-title {
  margin: 112px auto 62px;
}

.narrow-card .advantage-card-description {
  margin: 0 auto 112px;
}

/*          FEATURES        */
.features {
  margin: 0;

}

.features-title {
  width:505px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
}

.feature-card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.feature-card-item {
  list-style: none;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.feature-card-item:nth-child(2n) {
  background-color: transparent;
}

.feature-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  margin: 183px auto 30px;
}

.feature-card-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto 81px;
  width: 230px;
}

.card-flat {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/icon/advantages/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.card-food {
  background-image: url("../images/icon/advantages/food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.card-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/icon/advantages/gift.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

/*        HOTEL SEARCH      */

.hotels-search {
  margin: 0;
  padding: 96px 304px;
}

.hotels-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.hotels-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 54px;
}

.hotels-search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  margin: 0 108px 96px;
  padding: 8px 50px;
}

/*        SUBSCRIPTION      */

.subscription {
  min-width: 660px;
  max-width: 1200px;
  background-image: url(../images/sub-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  margin: 0;
  padding: 96px 258px 104px;

}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: white;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.button-subscript {
  background-color: rgba(130, 179, 211, 1);
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: hidden;
}

.subscription-form {
  display: flex;
  margin: 0 auto;
}

.subscription-email {
  font-family: inherit;
  width: 452px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #000000;
  border-style: hidden;
  background-color: #F2F2F2;
}

/*        FOOTER            */

.footer {
  display: flex;
  padding: 40px 70px 30px;
}

.socials-list {
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: auto;
}

.social-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}

.socials-item {
  list-style: none;
  width: 47px;
  height: 40px;
}

.vk {
  background-image: url("../images/icon/socials/vk.svg");
  background-repeat: no-repeat;
  background-size: 24px 14px;
  background-position: center;
}

.yt {
  background-image: url("../images/icon/socials/yt.svg");
  background-repeat: no-repeat;
  background-size: 18px 16px;
  background-position: center;
}

.tg {
  background-image: url("../images/icon/socials/telegram.svg");
  background-repeat: no-repeat;
  background-size: 22px 17px;
  background-position: center;
}

.phone {
  font-family: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.developer-link {
  display: block;
  width: 115px;
  height: 33px;
  background-image: url(../images/htmacademy_logo.svg);
  margin: auto 0 auto auto;
}


/*-------------КАТАЛОГ--------------*/

.filter-content {
  padding: 35px 70px 70px;
  color: #FFFFFF;
  background-image: url("../images/catalog/hotel-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*      TITLE&BREADCRUMBS           */

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  align-items: center;
}

.breadcrumbs-item {
  list-style: none;
  margin-right: 10px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}


.home-link {
  background-image: url("../images/icon/home.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
}

.breadcrumbs-arrow {
  background-image: url("../images/icon/filter/breadcrum-arrow.svg");
  background-repeat: no-repeat;
  background-size: 6px 10px;
  width: 6px;
  height: 10px;
}

/*           FILTER            */
.catalog-filter {
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  list-style: none;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.infrastructure {
  margin: 0;
  width: 20px;
  height: 20px;
}

.hotel-type {
  margin: 0;
  width: 20px;
  height: 20px;
}

.filter-group-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

}

.filter-price {
  border: none;
  margin:0;
  padding:0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  border-style: none;
  width: 288px;
}

.price-input {
  background-color: #F2F2F2;
  padding: 12px 20px;
  border-style: hidden;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 103px;
  align-self: flex-start;
}

.min-price {
  margin: 0;
  margin-right: 2px;
  justify-content: space-between;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-price {
  margin: 0;
  justify-content: space-between;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-price-button {
  width: 20px;
  height: 20px;
  align-self: center;
  padding:0;
  margin-top: auto;
}


.filter-buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: auto;
  justify-content: flex-end;
}

.button-filter-show {
  color: #ffffff;
  background-color: #82B3D3;
  border-color: #82B3D3;
  border-radius: 4px;
  padding: 8px 50px;
  text-transform: uppercase;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 32px;
  border: hidden;
}

.button-filter-clear {
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
  border: hidden;
  border-radius: 4px;
  padding: 8px 0;
  text-transform: uppercase;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}


/*     SEARCH RESULTS DASH     */

.catalog {
  padding: 50px 70px 60px;
}

.results-dash {
  display: flex;
  margin-bottom: 40px;
}

.catalog-search-results {
  margin: auto auto;
  margin-left: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-results-sort {
  margin-right: 70px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  outline: 2px solid #E5E5E5;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  justify-content: space-between;
  border-radius: 4px;
  border-style: hidden;
}

.button-view {
  width: 48px;
  height: 48px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  background-position: center;
  margin-right: 8px;
}

.button-view:last-child {
  margin: 0;
}

.button-view-active {
  outline-color: #000000;
}

.view-tile {
  background-image: url("../images/icon/filter/filter-cards.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}

.view-full {
  background-image: url("../images/icon/filter/filter-huge.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}

.view-list {
  background-image: url("../images/icon/filter/filter-list.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}

/*          HOTELS CARDS            */

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.hotel-card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 20px;
  border-radius: 4px;
  width: 340px;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid #E6E6E6;
}

.hotel-card-photo {
  display: block;
}

.hotel-card-title {
  min-width: 300px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.hotel-card-type {
  min-width: 140px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.hotel-card-price {
  text-align: right;
  min-width: 140px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.card-button {
  min-width: 140px;
  font-family: inherit;
  border-radius: 4px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-style: hidden;
  margin: 0;
}

.button-details {
  min-width: 140px;
  background-color: #756157;
  color: #ffffff;
}

.button-favourites {
  min-width: 140px;
  background-color: #82B3D3;
  color: #ffffff;
}

.favourites-added {
  background-color: #7DB54F;
  color: #ffffff;
}

.hotel-stars {
  min-width: 140px;
  margin: 0;
}

.five-stars {
  background-image: url("../images/icon/rating/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.four-stars {
  background-image: url("../images/icon/rating/stars.svg");
  background-repeat: no-repeat;
  background-position: -24px 0;

}

.three-stars {
  background-image: url("../images/icon/rating/stars.svg");
  background-repeat: no-repeat;
  background-position: -48px 0;
}

.two-stars {
  background-image: url("../images/icon/rating/stars.svg");
  background-repeat: no-repeat;
  background-position: -72px 0;
}

.one-star {
  background-image: url("../images/icon/rating/stars.svg");
  background-repeat: no-repeat;
  background-position: -96px 0;
}

.hotel-rating {
  background-color: #F2F2F2;
  font-weight: 400;
}


/*        PAGINATION            */

.pagination {
  display: flex;
  flex-wrap:wrap;
  padding: 0;
  margin: 0;
}

.pagination-item {
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  list-style: none;
}

.pagination-item:last-child {
  margin: 0;
}

.pagination-gap {
  font-size: 22px;
  line-height: 26px;
  border-radius: 4px;
  text-align: center;
  padding:17px 0;
  width:60px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  min-width:60px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-gap {
  font-size: 22px;
  line-height: 26px;
  border-radius: 4px;
  text-align: center;
  padding: 17px 0;
}

/*        SUBSCRIPTION           */
.subscription-inner {
  background: none;
}

.subscription-title-inner {
  color: #000000;
}

.subscription-description-inner {
  color: #000000;
}
